
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
browser-context.json
.obs_test_details-eblh5nvcdf4t0js6w7tzqh2kvbyaibcyu2n7xazw/
allure-report/
allure-results/
log/